.window-border {
  margin: auto;
  max-width: 75rem;
  background: #cdcdcd;
  padding: 4px;
  border: 1px solid #000;
  position: relative;

  &.maximized {
    max-width: initial;
    margin: 0;

    &:not(.main) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99999;
    }
  }
}

.window {
  background: #fff;
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid #000;
  z-index: 9999;
  font-family: $font-family-sans;
  font-weight: 1000;
  font-size: 1rem;
  .title {
    background: #000080;
    color: #fff;
    text-align: center;
    line-height: 1.5rem;
    height: 1.63rem;
    border-bottom: solid 1px #000;

    .button-container {
      border-left: 1px solid black;
      float: right;
    }

    .button {
      background: #c0c0c0;
      color: #fff;
      margin: 0px;
      width: 1.56rem;
      height: 1.56rem;
      border: outset 0.15rem;
      z-index: 5555;
      cursor: pointer;

      &:active {
        border: inset 0.15rem;
      }

      > span {
        color: #000;
        font-size: 0.8rem;
        line-height: 1.35rem;
        transform: scale(1, 0.4);
        display: block;
      }
    }

    .maximise {
      > span {
        line-height: 1.25rem;
        transform: scale(1, 0.5);
      }
    }

    .close {
      background: #c0c0c0;
      margin: 0px;
      width: 1.62rem;
      height: 1.56rem;
      z-index: 5555;
      float: left;
      border-right: 1px solid #000;
      cursor: default;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 800;
      font-size: 1.21rem;
      color: #fff;
      font-size: $font-size-500;
      line-height: 1.38rem;
      > span.text {
        display: block;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 5px;
      }
      > span.shadow {
        position: absolute;
        top: 1px;
        left: 6px;
        color: $grey500;
        text-shadow: -1px 0 $grey500, 0 1px $grey500, 1px 0 $grey500,
          0 -1px $grey500;
        z-index: 0;
      }
    }
  }
}

.handle {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: solid 1px #000;
}

.topright {
  top: -1px;
  right: -1px;
  cursor: ne-resize;
}

.bottomright {
  bottom: -1px;
  right: -1px;
  cursor: nw-resize;
}

.topleft {
  top: -1px;
  left: -1px;
  cursor: nw-resize;
}

.bottomleft {
  bottom: -1px;
  left: -1px;
  cursor: ne-resize;
}

.menubar {
  border-top: solid 1px #191919;
  border-bottom: solid 1px #191919;
  font-size: $font-size-600;

  .mobile-friendly-menu {
    // line-height: 1.25rem;
    // height: 100%;

    .main-menu-items {
      border: solid 1px #191919;
      background-color: #fff;
      z-index: 1;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      min-width: 15rem;
      display: none;

      &.open {
        display: flex;
      }

      @include landscape-phone {
        display: initial;
        line-height: 1.25rem;
        height: 100%;
        position: relative;
        border: 0;
        flex-direction: row;
        align-items: flex-start;
        min-width: auto;
      }
    }

    .menuitem.mobile {
      @include landscape-phone {
        display: none;
      }
    }
  }

  // .menuitem,
  // mobile-menu {
  //   line-height: 1.25rem;
  //   height: 100%;
  // }

  .menuitem {
    padding: 0.4rem 0.6rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    &:first-letter {
      text-decoration: underline;
    }
    &:active,
    &.active {
      background: #000080;
      color: #fff;
    }

    @include landscape-phone {
      padding: 0.15rem 0.6rem;
    }
  }
}

.icons {
  font-family: $font-family-sans;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 15px 5px;
  z-index: 5;
  .icon {
    display: inline-block;
    margin: 00px 10px;
    width: 80px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    &:active > .text {
      background: #000080;
      color: #fff;
    }
  }
}

#page {
  .icons {
    .icon {
      color: $font-dark-grey;
      &:active > .text {
        background: #000080;
        color: #fff;
      }
    }
  }
}
