@mixin social-media-icons {
  background: url("/assets/social-media-icons-all.svg");
  background-size: 35rem;
  background-repeat: no-repeat;
}

#welcome {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile {
    .avatar {
      padding: 0.25rem;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
      margin-right: 0.5rem;
      img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .content {
    flex: 1;
    h2 {
      margin-bottom: 1rem;
    }
  }
}

.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  .social-icon {
    width: 2.6rem;
    height: 2.6rem;
    display: block;
    margin-right: 0.5rem;

    &.twitter {
      @include social-media-icons();
      background-position: -5.9rem -5.9rem;
    }

    &.facebook {
      @include social-media-icons();
      background-position: -8.85rem 0.05rem;
    }

    &.youtube {
      @include social-media-icons();
      background-position: -11.8rem -5.9rem;
    }

    &.github {
      @include social-media-icons();
      background-position: -11.8rem 0.05rem;
    }

    &.instagram {
      @include social-media-icons();
      background-position: 0.05rem -2.92rem;
    }

    &.linkedin {
      @include social-media-icons();
      background-position: -2.9rem -2.92rem;
    }
  }
}
