#post-list {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .post-item {
    display: flex;
    margin-bottom: 1rem;
    text-decoration: none;
    flex-direction: column;
    align-items: stretch;

    .post-image {
      margin-right: 0.5rem;

      > img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 0.5rem;
      }
    }

    .post-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title {
        font-size: $font-size-700;
        color: $font-dark-grey;
        font-weight: $font-weight-medium;
      }

      .description {
        color: $font-mid-grey;
        font-size: $font-size-500;
      }

      .metadata {
        color: $font-light-grey;
        font-size: $font-size-300;
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
