#post-metadata {
  margin-top: 0.5rem;

  .metadata {
    font-size: $font-size-500;
    color: $font-light-grey;
    span {
      font-weight: $font-weight-bold;
    }
  }
}

#post-content {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 1rem;
}
